
body{
    margin:0%;
    border: border-box;
    background-color: rgb(51, 68, 57);
}
html{
    scroll-behavior: smooth;
}

/* -------------------navbar-------------------------- */

.navbar{
   height: 50px;
   /* background-color: rgb(205, 99, 117); */
   margin-left: 6%;
   margin-right: 6%; 
   display: flex;   
}
.p{
   color: yellow;
    font-style: italic ; 
    font-size: 1.5rem;  
    width: 20%;
}
.search{
    color: rgb(235, 239, 241);
    font-size: 0.7rem;
    width: 70%;
    /* background-color:chocolate ; */
    display: flex;
    justify-content:center;
    border-bottom: ;
}
input{
    color: aliceblue;
    background-color: rgb(45, 54, 48);
    border: 1px solid rgb(40, 51, 43);
    border-bottom: 1px solid white;
    text-align: center;
}
.nav-cart{
    color: yellow;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align:center;
    margin: right 100px; 
    font-size: 15px;       
}
.first{
    font-size: 0.7rem;
    color: aliceblue;
    margin-right: 10px;
    margin-left: 10px;
}
.second{
    font-size: 0.7rem;
    color: yellow;
    margin-left: 10px;
    display: flex;
    display: inline-block;
}

/* ---------------------------box1-------------------------- */
.box2{
    width: 100%;
    height: 100vh;
    background-image: url(images/Photo-1.jpg);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-shadow : 5px 5px rgb(18, 18, 18);
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(244, 169, 8);
    text-shadow: 2px 2px rgb(17, 16, 16);
    font-family:"poppins",sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 4%;   
}      

.p1{
    position: absolute;
}

.btn{
    display: block;
    text-align: center;
    width: fit-content;
    border: 2px solid yellow;
    background: #070707;
    padding: 14px 50px;
    border-radius: 6px;
    color: rgb(254, 247, 247);
    transition: 0.5s;
}
.btn:hover{
    background: yellow;
    color: #040404;
}

/* -----------------------box3--------------------- */

.box3{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #0b0b0b;
}
.pc{
    color: #cdcaca;
    padding-left: 147px;
    padding-top: 70px;
    font-size: 30px;
    font-style: italic; 
    

}
.btn1{
    display: block;
    text-align: center;
    width: fit-content;
    border: 1px solid yellow;
    background: #0b0b0b;
    padding: 14px 50px;
    border-radius: 6px;
    color: rgb(242, 232, 232);
    transition: 0.5s;
}
.btn1:hover{
    background: yellow;
    color: black;
}

/* ----------------------box4--------------------- */
.box4{
    height: 700px;
    /* background-color: rgb(248, 242, 242); */
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: center;         
}

.Image1{
    width:50%;
    /* background-color: rgb(138, 29, 29); */
    display: inline;    
}
.para{
    color: rgb(209, 212, 214);
    font-weight: bolder;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;   
}
.para p{
    margin-bottom: 5px;
}
.P1{
    font: 600;
    font-style: italic;
    font-weight:bolder;
}
.Image2{
    width: 50%;
    /* background-color: aqua; */
    display: inline;
}
.parag{
    color: rgb(216, 219, 221);
    font-weight: bolder;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.parag p{
    margin-bottom: 5px;
}
.P2{
    font: 600;
    font-style: italic;
    font-weight:bolder;
}


.box5{
    background-color: rgb(20, 19, 19);
    height: 700px;
    width: 100%;
    padding-top: 5%;    
    display: flex;
    flex-direction: row;
    justify-content: center;   
}    
.set1{
    height: 100px;
    width: 22%;
    display: flex;
    flex-direction: column;
}
.set2{
    color: aliceblue;
    height: 100px;
    width: 22%;
    display: flex;
    flex-direction: column;
    text-align:start;
    padding-left: 1%;   
}
.set3{
    height: 100px;
    width: 22%;
    display: flex;
    flex-direction: column;
}
.set4{
    height: 100px;
    width: 22%;
    display: flex;
    flex-direction: column;
} 
.set2 h1{
font-size: 40px;
font-style: italic;

}
.set2 p{
    font-size: 20px;
}
.add-text1{
    color: rgb(209, 212, 214);
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.add-text1 p{
    margin-bottom: 5px;
}
.add-text3{
    color: rgb(209, 212, 214);
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.add-text3 p{
    margin-bottom: 5px;
}
.add-text4{
    color: rgb(209, 212, 214);
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.add-text4 p{
    margin-bottom: 5px;
}

.box6{
    /* background-color: rgb(248, 243, 243); */
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
}
.box7{
    background-color: rgb(17, 17, 17);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.top{
    /* background-color: brown; */
    color: rgb(201, 210, 219);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
    font-style: italic;
}
.mid{
    /* background-color: darkgreen; */
    height: 590px;
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: 6%;
    
}

.add-first{
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
   display: inline;
    
}
.add-second{
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    display: inline;

}
.C1{
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}
.CP1{
    color: rgb(209, 212, 214);
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.CP1 p{
    margin-bottom: 0%;
}

.C2{
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}
.CP2{
    color: rgb(209, 212, 214);
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.CP2 p{
    margin-bottom: 0%;
}
.box8{
    background-color: rgb(252, 252, 5) ;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-1{
    /* background-color:blue; */
    color: rgb(11, 11, 11);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
    font-style: italic;
   
}
#T1{
    text-shadow: none;
}
.MD{
    /* background-color: rgb(40, 160, 164); */
    height: 600px;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 6%;
    margin-right: 6%;    
}
.SE1{
    /* background-color: brown; */
    width: 25%;
    display: flex;
    flex-direction: column;   
}
.TE1{
    color: black;
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.TE1 p{
    margin-top:  0px;
}
.SEB1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.SE2{
    /* background-color: chartreuse; */
    width: 30%;
    display: flex;
    flex-direction: column;
}
.TE2{
    color: black;
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center; 
}
.TE2 p{
    margin-bottom: 0px;
}
.SEB2{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.TE3{
    color: black;
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;  
}
.TE3 p{
    margin-bottom: 0px;
}

.SE3{
    /* background-color: chocolate; */
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
.TE4{
    color: black;
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;  
}
.TE4 p{
    margin-bottom: 0px;
}
.SEB3{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.TE5{
    color: black;
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;   
}
.TE5 p{
    margin-bottom: 0px;
}
.SEB4{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

/* Footer */

.F1{
    background-color:black;
    color: aliceblue;
    height: 210px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#SN{
    text-shadow: none;
    font-style: italic;
}
.endbar{
    height: 50px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    margin-left: 0%;
    margin-right: 0%;
    
} 
 .linkbar{
     font-size: 0.7rem;
     width: 70%;
     /* background-color:chocolate ; */
     display: flex;
     justify-content:center;
     border-bottom: 0;
 }

 .LT1{
    /* background-color: aqua; */
    font-size: 1rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
 }

.LT2{
    /* background-color: brown; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;

}